
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="all,follow" />
  <meta name="viewport"	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta	name="author"	content="we@weeshare.com" />
  <title>SHAREZONE | Sharing-Simplified</title>
  <meta	name="title"	content="WeeShare | Sharing organized" />
  <meta	name="description"	content="Share with WeeShare. Whether you want to share a car, boat, plane or everyday items, with WeeShare you keep track of what you're sharing. Learn how to share with WeeShare and trust. Share things privately or with neighbors. Experience real shareconomy sharing with WeeShare." />

  <link	rel="image_src"	type="image/jpg" href="https://www.weeshare.com/trigger/custom/res/images/en_ws_teaser.jpg?v=1.0.97">
  <link	rel="stylesheet" type="text/css" href="https://www.weeshare.com/trigger/core/res/plugins/bootstrap/css/bootstrap.min.css?v=1.0.97">
  <link	rel="stylesheet" type="text/css" href="https://www.weeshare.com/trigger/core/res/plugins/bootstrap/css/bootstrap-grid.min.css?v=1.0.97">
  <link	rel="stylesheet" type="text/css" href="https://www.weeshare.com/trigger/core/res/plugins/bootstrap/css/bootstrap-reboot.min.css?v=1.0.97">
  <link	rel="stylesheet" type="text/css" href="https://www.weeshare.com/trigger/core/res/css/site-min.css?v=1.0.97">
  <link rel="stylesheet" type="text/css" href="https://www.weeshare.com/trigger/core/res/css/jquery.fancybox.min.css?v=1.0.97">
  <link rel="stylesheet" type="text/css" href="https://www.weeshare.com/trigger/core/res/css/odometer-theme-minimal.css?v=1.0.97">
	<link rel="stylesheet" type="text/css" href="https://www.weeshare.com/trigger/custom/res/css/custom.css?v=1.0.97">

	<meta	property="og:image"	content="https://www.weeshare.com/trigger/custom/res/images/en_ws_teaser.jpg?v=1.0.97" />
  <meta	property="og:title"	content="WeeShare | Sharing organized" />
  <meta	property="og:description"	content="Share with WeeShare. Whether you want to share a car, boat, plane or everyday items, with WeeShare you keep track of what you're sharing. Learn how to share with WeeShare and trust. Share things privately or with neighbors. Experience real shareconomy sharing with WeeShare." />
	<meta property="twitter:image" content="https://www.weeshare.com/trigger/custom/res/images/en_ws_teaser.jpg?v=1.0.97" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="WeeShare | Sharing organized" />
	<meta name="twitter:description" content="Share with WeeShare. Whether you want to share a car, boat, plane or everyday items, with WeeShare you keep track of what you're sharing. Learn how to share with WeeShare and trust. Share things privately or with neighbors. Experience real shareconomy sharing with WeeShare." />
	  <meta name="twitter:site" content="@WeeShareApp" />
  <meta name="twitter:creator" content="@WeeShareApp" />

    <meta	property="fb:app_id" content="168628243302205"/>

	  	  		  		<meta	property="og:locale:alternate" content="de_DE"/>
			<link rel="alternate" hreflang="de" href="https://www.weeshare.com/de/about">
		  		  		<meta	property="og:locale:alternate" content="en_US"/>
			<link rel="alternate" hreflang="en" href="https://www.weeshare.com/en/about">
		  		  		<meta	property="og:locale:alternate" content="fr_FR"/>
			<link rel="alternate" hreflang="fr" href="https://www.weeshare.com/fr/about">
		  		  		<meta	property="og:locale:alternate" content="es_LA"/>
			<link rel="alternate" hreflang="es" href="https://www.weeshare.com/es/about">

		<link rel="alternate" hreflang="x-default" href="https://www.weeshare.com/en/about">
				<link rel="canonical" href="https://www.weeshare.com/en/about" />


	  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "SoftwareApplication",
      "name" : "WeeShare | Sharing organized",
      "image" : "https://www.weeshare.com/trigger/custom/res/images/weeshare_structured_software_image.png?v=1.0.97",
      "screenshot" : "https://www.weeshare.com/trigger/custom/res/images/weeshare_structured_software_image.png?v=1.0.97",
      "operatingSystem" : "iOS, Android, Windows, macOS, Ubuntu",
      "applicationCategory" : "Social Network, Tool, Productivity",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.4",
        "reviewCount": "2323"
      }
    }
 </script>

 	<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.weeshare.com",
      "logo": "https://www.weeshare.com/trigger/custom/res/images/iconWeeShare1024x1024.png?v=1.0.97"
    }
  </script>

	<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "WeeShare",
      "url": "https://www.weeshare.com",
      "sameAs": [
        "https://www.facebook.com/weeshareapp",
        "https://twitter.com/weeshareapp"
      ]
    }
  </script>

</head>
<body class="custom hasBeforeNavItems">
	<div id="fb-root"></div>
	  <div id="carouselIndicators" class="carousel fade-carousel slide" data-ride="carousel" data-interval="15000">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1" class=""></li>
      <li data-target="#carouselIndicators" data-slide-to="2" class=""></li>
      <li data-target="#carouselIndicators" data-slide-to="3" class=""></li>
      <li data-target="#carouselIndicators" data-slide-to="4" class=""></li>
      <li data-target="#carouselIndicators" data-slide-to="5" class=""></li>
      <li data-target="#carouselIndicators" data-slide-to="6" class=""></li>
            	<li data-target="#carouselIndicators" data-slide-to="7" class=""></li>
            <li data-target="#carouselIndicators" data-slide-to="8" class=""></li>
    </ol>
    <div class="carousel-inner" >
      <div id="carousel-item-1" class="carousel-item active">
      	<a class="navbar-brand" href="/en/about">

        </a>
        <div id="teaser_lg" class="d-block image" style="background: url(/trigger/custom/res/images/en_ws_appstore.jpg);"></div>
        <div class="mouse_over_screen_container">
        	<div id="mouse_over_screen_2" class="mouse_over_screen"><div><img class="mo_img_4" src="/trigger/custom/res/images/en_mo_4.jpg"></div><div><img class="mo_img_5" src="/trigger/custom/res/images/en_mo_5.jpg"></div><div><img class="mo_img_6" src="/trigger/custom/res/images/en_mo_6.jpg"></div></div>
          <div id="mouse_over_screen_1" class="mouse_over_screen"><div><img class="mo_img_1" src="/trigger/custom/res/images/en_mo_1.jpg"></div><div><img class="mo_img_2" src="/trigger/custom/res/images/en_mo_2.jpg"></div><div><img class="mo_img_3" src="/trigger/custom/res/images/en_mo_3.jpg"></div></div>
        </div>
      <div id="teaser_sm" class="d-block image" style="background: url(/trigger/custom/res/images/en_ws_appstore_sm.png);"></div>
        <div class="carousel-caption  d-md-block">
          <a class="navbar-brand" href="/en/about">
          </a>
          <h2>Sharing organized. Spare nature. Save money.</h2>
          <p>ShareZone turns sharing into property and covers everything you need to share. Try it out and join us on the real Sharing Economy.</p>
          <div class="carousel-btn">
            <a id="btn-login" id="home-get-started" class="btn btn-primary btn-login" href="{% url 'signin' %}" target="_blank">Login</a>

          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="d-block image" style="background: url(https://www.weeshare.com/trigger/custom/res/images/weeshare_bg_010.jpg);"></div>
        <div class="carousel-caption  d-md-block bg">
        	<div class="bg">
          	<h2>Reduce your ecological footprint and save a fortune at the same time.</h2>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="d-block image" style="background: url(https://www.weeshare.com/trigger/custom/res/images/weeshare_bg_009.jpg);"></div>
        <div class="carousel-caption  d-md-block bg">
        	<div class="bg">
          	<h2>Sharing with neighbours connects and protects the environment.</h2>
            <p>Garden tools, tools, kitchen equipment, garage equipment... everything you and your neighbor can borrow from each other.</p>
          </div>
      		      </div>
      </div>
      <div id="carousel-item-2" class="carousel-item ">
        <div class="d-block image" style="background: url(https://www.weeshare.com/trigger/custom/res/images/weeshare_bg_001.jpg);"></div>
        <div class="carousel-caption  d-md-block">
          <h2>Are you already share a car and getting trouble organizing it?</h2>
          <p>Do you want to know where it is parked? Are the costs under control? Looking for a date to book it?</p>
          <div class="carousel-btn row">
          		         	          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="d-block image" style="background: url(https://www.weeshare.com/trigger/custom/res/images/weeshare_bg_002.jpg);"></div>
        <div class="carousel-caption  d-md-block right">
        	<h2>The more expensive the boat, the more it is worth sharing.</h2>
          <p>Share the cost of berth, insurance and determine how much your boat costs per hour or KM.</p>
      		        </div>
      </div>
      <div class="carousel-item ">
        <div class="d-block image" style="background: url(https://www.weeshare.com/trigger/custom/res/images/weeshare_bg_003.jpg);"></div>
        <div class="carousel-caption  d-md-block bg">
        	<div class="bg">
          	<h2>Private aircraft are rarely in private ownership. WeeShare helps you organize.</h2>
            <p>Divide repairs among all or only certain users. Keep track of when you get up in the air.</p>
          </div>
      		        </div>
      </div>
      <div class="carousel-item ">
        <div class="d-block image" style="background: url(https://www.weeshare.com/trigger/custom/res/images/weeshare_bg_004.jpg);"></div>
        <div class="carousel-caption  d-md-block right bg">
        	<div class="bg">
        		<h2>When girls or boys go on vacation together, there's always stress with money.</h2>
          	<p>Divide the expenses immediately among the friends who were present during the meal or excursion. On the last day we split up!</p>
        	</div>

        </div>
      </div>
      <div class="carousel-item ">
        <div class="d-block image" style="background: url(https://www.weeshare.com/trigger/custom/res/images/weeshare_bg_005.jpg);"></div>
        <div class="carousel-caption  d-md-block bg">
        	<div class="bg">
          	<h2>Whether hobbyroom or studio, you know when it is available.</h2>
          	<p>ShareZone's booking system keeps you up to date and informs you immediately of any changes.</p>
         	</div>

        </div>
      </div>
              <div class="carousel-item ">
          <div class="d-block image" style="background: url(https://www.weeshare.com/trigger/custom/res/images/weeshare_bg_007.jpg);"></div>
          <div class="carousel-caption  d-md-block bg">
          	<div class="bg">
            	<h2>Do you share expensive equipment in your company or club?</h2>
              <p>ShareZone takes care of all the details. Communicate immediately and everyone knows.</p>
             </div>

          </div>
        </div>
          </div>

  </div>
  <div class="content content-home about">

  	    <nav class="navbar sticky-top navbar-light bg-red navbar-expand-lg ">
      <a class="navbar-brands" href="#" width="25%" ><i class="fas fa-share-alt-square"></i>ShareZone</a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'homepage' %}"><i class="fas fa-home"></i>Home</a></li><li class="nav-item"><a class="nav-link" href="{% url 'signin' %}"><i class="fas fa-sign-in-alt"></i>Signin</a></li><a class="nav-link" href="{% url 'signup' %}" <i class="fas fa-user-plus"></i>Signup</a></li><li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>   </ul>
      </div>
    </nav>

    <a id="introduction" name="introduction"></a>
    <div class="no-gutters introduction">
      <div class="row justify-content-md-center">
      	<div class="feature-screenshot">
        	<img src="https://www.weeshare.com/trigger/custom/res/images/weeshare_teaser_2_2_de.png" alt="WeeShare, the Sharing App">
      	</div>
      	<div class="feature-info">
      		<div class="container">
      			<div class="row justify-content-md-center">
      				<div class="col-md-auto">
      	      	<h2 class="preTitle">Share Your Things!</h2>
        			</div>
      			</div>
      			<div class="row justify-content-md-center">
              <div class="col-md-auto">
               <h1 class="centered">
          				ShareZone, the Sharing App          			</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <p>Do you own a <strong>car</a></strong>, <strong>boat</a></strong> or a <strong>vacation home</strong> which is also used by other people? Do you share your <strong>outdoor equipment</strong> or a <strong>studio</strong> with friends? Or do you want simply to save lots of money while start sharing? Coordinate reservation requests and keep track of expenses and costs. Communicate with other users and let them know where the object is located. ShareZone lets you organize everything you share with others</p>
								<p>ShareZone is unique worldwide and was founded in 2011 in the sense of the real sharing economy. Sharing economy is not primarily about renting and letting, but about sharing. ShareZone is the tool that lets you share with confidence. Nevertheless, you can generate money with ShareZone - not with rentals - but rather with sharing expenses and costs.</p>
              </div>
            </div>
          </div>
    		</div>
      </div>
    </div>

  	<div class="no-gutters availability gradient-curve d-flex align-items-center">
  		<div class="container vertical-center">
    		<div class="row justify-content-md-center">
          <div class="col-md-auto">
           	<h4>Take ShareZone wherever you go.</h4>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-sm">
            <h3>Availability of the shared is important. You can reach ShareZone from anywhere.</h3>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <a id="btn-login" class="btn btn-success btn-lg btn-icon btn-login" role="button" href="{% url 'signin' %}" target="_blank"><i class="fas fa-sign-in-alt fa-2x" aria-hidden="true"></i>Login</a>
          </div>


        </div>
      </div>
  	</div>

  	<a id="functions" name="functions"></a>
  	<div class="container functions-cover">
  		<div class="row justify-content-md-center">
  			<div class="col-md-auto">
    			<h6 class="functions">6 functions cover your sharing</h6>
  			</div>
  		</div>
  		<div class="row justify-content-md-center">
  			<div class="col-md-auto">
    			<h2 class="centered">The easiest way to share your property organized</h2>
  			</div>
  		</div>
  			<div class="function">
  				<div class="icon-hexagon-bg">
  					<img class="svg icon-hexagon" src="https://www.weeshare.com/trigger/custom/res/images/weeshare_function_bookings.png"
  						alt="Check the availability of an item and add bookings.">
  				</div>
  				<p>
  					<strong>Calendar</a></strong>Check the availability of an item and add bookings.  				</p>
  			</div>
  			<div class="function">
  				<div class="icon-hexagon-bg">
  					<img class="svg icon-hexagon"
  						src="https://www.weeshare.com/trigger/custom/res/images/weeshare_function_position.png"
  						alt="Specify an item location. Capture routes to distribute expenses fairly.">
  				</div>
  				<p>
  					<strong>Position</a></strong>Specify an item location. Capture routes to distribute expenses fairly.</a>
  				</p>
  			</div>
  			<div class="function">
  				<div class="icon-hexagon-bg">
  					<img class="svg icon-hexagon"
  						src="https://www.weeshare.com/trigger/custom/res/images/weeshare_function_expenses.png"
  						alt="Track your expenses and distribute them among all users.">
  				</div>
  				<p>
  					<strong>Expenses</a></strong>Track your expenses and distribute them among all users.  				</p>
  			</div>
  			<div class="function">
  				<div class="icon-hexagon-bg">
  					<img class="svg icon-hexagon"
  						src="https://www.weeshare.com/trigger/custom/res/images/weeshare_function_chat.png" alt="Send messages to everyone who uses this item or get in touch with a specific user.">
  				</div>
  				<p>
  					<strong>Chat</strong>Send messages to everyone who uses this item or get in touch with a specific user.  				</p>
  			</div>
  			<div class="function">
  				<div class="icon-hexagon-bg">
  					<img class="svg icon-hexagon"
  						src="https://www.weeshare.com/trigger/custom/res/images/weeshare_function_notes.png" alt="Send messages to everyone who uses this item or get in touch with a specific user.">
  				</div>
  				<p>
  					<strong>Notes</strong>Provide news and important information with notes.  				</p>
  			</div>
  			<div class="function">
  				<div class="icon-hexagon-bg">
  					<img class="svg icon-hexagon"
  						src="https://www.weeshare.com/trigger/custom/res/images/weeshare_function_friends.png"
  						alt="Share your item with dedicated users or make it publicly available.">
  				</div>
  				<p>
  					<strong>Users</strong>Share your item with dedicated users or make it publicly available.  				</p>
  			</div>
  		<div class="clear"></div>
  	</div>


  	<a id="functions-detail-booking" name="functions-detail-booking"></a>
    <div class="no-gutters functions-detail">
    	<a id="functions-detail" name="functions-detail-booking"></a>
      <div class="row justify-content-center d-block left">
      	<div class="col-xl functions-detail-screenshot">
        	<img src="/trigger/custom/res/images/en_weeshare_fd_booking.jpg" alt="A mobile app to organize your shared stuff.">
      	</div>
      	<div class="col functions-detail-info">
      		<div class="container">
      			<div class="row">
      				<div class="col">
      	      	<h6>Booking and reservation system</h6>
        			</div>
      			</div>
      			<div class="row">
              <div class="col">
               <h2>Keep an eye on availability</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <p>With reservations / bookings you can ensure availability. Create a booking via the calendar and the participants will be informed immediately. With locking periods you can determine when the shared is not available. Aren't you travelling alone? No problem, record the reservation together with other participants so that the booking times are shared. You can then distribute costs and expenses to the booking times.</p>
              </div>
            </div>
                        	 <div class="row">

                </div>
          	          </div>
    		</div>
      </div>
      <div class="clear"></div>
      <a id="functions-detail-expenses" name="functions-detail-expenses"></a>
      <div class="row justify-content-center d-block right">
      	<div class="col-xl functions-detail-screenshot">

      	</div>
      	<div class="col functions-detail-info">
      		<div class="container">
      			<div class="row ">
      				<div class="col">
      					<h6>Cost and output system</h6>
        			</div>
      			</div>
      			<div class="row ">
              <div class="col">
              	<h2>Who owes whom? Expenditure under control.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <p>Do you want to distribute all your expenses fairly? Should the users who use it most also pay more? The cost system allows you to automatically charge a price per hour and or KM. In addition, you can easily divide all or only involved users' expenses such as repairs, insurances and purchases. The balance sheet shows you whether you owe the other person or they owe you something. All new expenses and costs are displayed in chronological order in the chat so that you never lose sight of the big picture.</p>
              </div>
            </div>
                        	 <div class="row">

                </div>
          	          </div>
    		</div>
      </div>
      <div class="clear"></div>
      <a id="functions-detail-position" name="functions-detail-position"></a>
      <div class="row justify-content-center d-block left">
      	<div class="col-xl functions-detail-screenshot">
        	<img src="/trigger/custom/res/images/en_weeshare_fd_position.jpg" alt="A mobile app to organize your shared stuff.">
      	</div>
      	<div class="col functions-detail-info">
      		<div class="container">
      			<div class="row ">
      				<div class="col">
      					<h6>The position system</h6>
        			</div>
      			</div>
      			<div class="row ">
              <div class="col">
              	<h2>Share the position. Capture distances and distances.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
              	<p>Determine the exact location on the map so that people can instantly find the car, boat or whatever you want to share. Do you want to distribute the expenses based on usage? Or do you use one price per KM? Capture the distance traveled automatically or by simple input and you can distribute the expenditure based on driven or flown KM. Just as with the expenses and costs, the routes in the chat are also displayed clearly arranged in terms of time and costs.</p>
              </div>
            </div>
                        	 <div class="row">

                </div>
          	          </div>
    		</div>
      </div>
      <div class="clear"></div>
    </div>

  	<a id="private-sharing" name="private-sharing"></a>
  	<div style="background-image: url(https://www.weeshare.com/trigger/custom/res/images/blog_home.jpg);" class="no-gutters private-sharing-cover d-flex align-items-center backgroundOneStyle">
  		<div class="overlay"></div>
  		<div class="container vertical-center">
    		<div class="row justify-content-md-center">
          <div class="col-sm">
          		<div class="row justify-content-md-center">
                <div class="col-md-auto">
                 	<h4>Private sharing with sharezone</h4>
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-auto">
                	<h3>Whether private or public, you decide who will share your stuff with you.</h3>
                </div>
              </div>
          </div>
        </div>
      </div>
  	</div>

  	<a id="review" name="review"></a>
  	<div class="container functions-cover experiance">
  		<div class="row justify-content-md-center">
  			<div class="col-md-auto">
    			<h6 class="functions">From people who use WeeShare</h6>
  			</div>
  		</div>
  		<div class="row justify-content-md-center">
  			<div class="col-md-auto">
    			<h2 class="centered">Get inspired by how sharezone is used</h2>
  			</div>
  		</div>
  			<div class="function experiance">
  				<img src="https://www.weeshare.com/trigger/custom/res/images/sharing_car.jpg"	alt="Car sharing">
  				<h3>Share a car</a></h3>
  				<p>&laquo;We share a car in a group of 3 people and we are all the time up to date. We know where it is, who it needs and what it costs. Awesome!&raquo; - Sonja</p>
  			</div>
  			<div class="function experiance">
  				<img src="https://www.weeshare.com/trigger/custom/res/images/sharing_plane.jpg"	alt="Plane Sharing">
  				<h3>Plane sharing</a></h3>  				<p>&laquo;I am a pilot and like many other private pilots, we share a plane in a group of 7 people. In the past we had a lot of troubles organizing it. Those problems are now gone.&raquo; - Peter</p>
  			</div>
  			<div class="function experiance">
  				<img src="https://www.weeshare.com/trigger/custom/res/images/sharing_vacation_home.jpg"	alt="Vacation Home Sharing">
  				<h3>Vacation Home Sharing</h3>
  				<p>&laquo;With the app we orginze our vacation flat. It is very useful to have an overview of bookings and expenses on it.&raquo; - Marion</p>
  			</div>
  			<div class="function experiance">
  				<img src="https://www.weeshare.com/trigger/custom/res/images/sharing_boat.jpg"	alt="Boat Sharing">
  				<h3>Boat sharing</a></h3>  				<p>&laquo;WeeShare is great on sharing a boat with friends. Nomore confusion on who has it when! Nice tool to organize.&raquo; - Markus</p>
  			</div>
  			<div class="function experiance">
  				<img src="https://www.weeshare.com/trigger/custom/res/images/sharing_flat.jpg"	alt="Flat Sharing">
  				<h3>Flat Sharing</h3>
  				<p>&laquo;We share all expenses on our beautiful flat. Internet, power, insurance, rental costs - all is under control, thx WeeShare!&raquo; - Till</p>
  			</div>
  			<div class="function experiance">
  				<img src="https://www.weeshare.com/trigger/custom/res/images/sharing_expenses.jpg"	alt="Split Costs">
  				<h3>Split expenses</a></h3>  				<p>&laquo;I accidentally found the app. Pure Luck! A trip with friends without any money disaster! Delivers what it promises.&raquo; - Rachel</p>
  			</div>
  		<div class="clear"></div>
  	</div>

  	<a id="privacy-policy" name="privacy-policy" class="anker"></a>
  	<div class="no-gutters privacy-cover">
      <div class="container">
    		<div class="row justify-content-md-center">
    			<div class="col-sm">
      			<h2 class="centered">Privacy Policy</h2>
    			</div>
    		</div>
    		<div class="row justify-content-md-center">
    			<div class="col-sm">
      			We care about your privacy and your data. WeeShare takes all necessary measures to protect personal information against loss, misuse, unauthorized access, unauthorized disclosure, manipulation, or destruction. All data and services are hosted on systems in Switzerland and any data traffic is protected by https. Any information you provide to us will only be used for the functionality of the WeeShare application and we will protect and process your data in accordance with the applicable data protection regulations. We never do share any of your data with third parties. Feel free to contact us if you have any questions regarding our privacy standards.    			</div>
    		</div>
    	</div>
  	</div>



  <script type="text/javascript" src="https://www.weeshare.com/trigger/core/res/js/jquery-3.2.1.min.js?v=1.0.97"></script>
  <!-- <script  type="text/javascript" src="https://www.weeshare.com/trigger/core/res/js/jquery-ui.min.js?v=1.0.97"></script> -->
  <script type="text/javascript" src="https://www.weeshare.com/trigger/core/res/plugins/bootstrap/js/bootstrap.min.js?v=1.0.97"></script>
  <script type="text/javascript" src="https://www.weeshare.com/trigger/core/res/js/jquery.fancybox.min.js?v=1.0.97"></script>
  <script type="text/javascript" src="https://www.weeshare.com/trigger/core/res/js/fontawesome-all.min.js?v=1.0.97"></script>
  <script type="text/javascript" src="https://www.weeshare.com/trigger/core/res/js/site-min.js?v=1.0.97"></script>


  <script type="text/javascript">

    TriggerWeb.root = '',
    TriggerWeb.pathResource = 'https://www.weeshare.com/trigger/custom/res/',
    TriggerWeb.logoBright = 'weeshare_logo_white.png',
    TriggerWeb.logoDark = 'weeshare_logo.png',
    TriggerWeb.brand = 'WeeShare',
    TriggerWeb.siteLang = 'en',
    TriggerWeb.lang = {
          "site.message.general.error.text": "We made a mistake. Please try again later.",
          "back": "Back",
          "response.status.403": "Access to this action was denied.",
    };

    //add client lang

  </script>


          <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.8&appId=168628243302205";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
            <script type="text/javascript">
      var _gaq = _gaq || [];
        _gaq.push([ '_setAccount', 'UA-25855331-2' ]);
        _gaq.push([ '_trackPageview' ]);
        (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl'
              : 'http://www')
              + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
    </script>

        <script type="text/javascript" src="https://www.weeshare.com/trigger/custom/res/js/odometer.min.js?v=1.0.97"></script>
  <script type="text/javascript" src="https://www.weeshare.com/trigger/custom/res/js/weeshare-site-min.js?v=1.0.97"></script>
  <script type="text/javascript">

    window.itis.root = '';
    window.itis.serverRoot = 'https://www.weeshare.com';
    window.itis.apiVersion = '1.8';
    window.itis.tracking = true;
    window.itis.counter = {
      refreshTime: '2020-07-15T00:02:29Z',
      activitiesLastMonth: 100799,
      sharingActivitiesLastMonth: 10722,
      savingsLastMonth: 12009000,
      emissionsLastMonth: 2662340   };
    window.itis.currency = 'INR';
    window.itis.currencyRate = '79.9576';


    setUpCounterInterval();

  </script>

  </body>
</html>

